In [33]:
import pandas as pd

data = pd.read_csv("./fixtures/tests/inflow/pitot_inlet/hist_series_resampled.csv")
data

            rho        ux        uy        uz  time_step  point_idx
0      1.007596  0.021789  0.006310 -0.011449    10000.0          0
1      1.006356  0.025265  0.007093 -0.009933    10000.0          1
2      1.005115  0.028742  0.007876 -0.008418    10000.0          2
3      1.003874  0.032218  0.008658 -0.006902    10000.0          3
4      1.002634  0.035694  0.009441 -0.005386    10000.0          4
...         ...       ...       ...       ...        ...        ...
50848  1.002331  0.069381 -0.001005 -0.001764    10100.0        248
50849  1.002355  0.069757 -0.001131 -0.001761    10100.0        249
50850  1.002379  0.070133 -0.001257 -0.001759    10100.0        250
50851  1.002402  0.070509 -0.001383 -0.001757    10100.0        251
50852  1.002426  0.070885 -0.001509 -0.001755    10100.0        252

[50853 rows x 6 columns]